<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.neverlov.dao.IUserDao">
	
	<select id="getUserById" resultType="com.neverlov.entity.User">
		select * from t_users where id = #{id}
	</select>
	
	<select id="getUserByUserEmail" resultType="com.neverlov.entity.User">
		select * from t_user where useremail = #{useremail}
	</select>
	
	<select id="getUserByPhoneNumber" resultType="com.neverlov.entity.User">
		select * from t_user where phonenumber = #{phonenumber}
	</select>
	
	<insert id="insertUser" parameterType="com.neverlov.entity.User">
		insert into t_user(username,phonenumber,useremail,password) values(#{username},#{phonenumber},#{useremail},#{password})
	</insert>
</mapper>